<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Categories>
    <Category title="window">
      <Value name="width" value="1080" type="int"/>
      <Value name="height" value="720" type="int"/>
      <Value name="clrCol" value="245,245,245,255" type="color"/>
      <Value name="isFullscreen" value="false" type="bool"/>
    </Category>
    <Category title="application">
      <Value name="title" value="Spark Game" type="string"/>
    </Category>
  </Categories>
</Config>